- var i = 1;

div(class='score-list')
    div(class='score-entry score-desc') Player
    div(class='score-entry score-desc') Score
    div(class='score-entry score-desc') Game Name
    div(class='score-entry score-desc') Date
    each player in scores
        div(class='score-entry', id='score-name') #{i}. #{player.name}
        div(class='score-entry', id='score-value') (#{player.score})
        div(class='score-entry', id='score-game') #{player.game}
        div(class='score-entry', id='score-date') #{player.date}
        - i++